* {
  font-family: "Coustard", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(44, 97, 119);
  line-height: 1.5;
}

h1 {
  padding: 50px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  color: aliceblue;
  font-size: 40px;
  color: rgb(94, 166, 94);
  display: grid;
  justify-content: center;
}

main > section.container > div {
  font-size: 20px;
  color: rgb(3, 6, 36);
  padding: 20px;
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
  width: 700px;
}

form > div.container1 {
  width: 900px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

form > div.container1 > div {
  padding: 10px;
}
form > div.conteiner2 {
  font-size: 20px;
  border: 3px solid rgb(94, 166, 94);
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  margin: auto;
}

input {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
}
label {
  color: rgb(3, 6, 36);
  font-size: 22px;
  padding: 5px;
}
select {
  font-size: 20px;
}
h3 {
  padding: 20px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  color: rgb(94, 166, 94);
  font-size: 40px;
  display: grid;
  justify-content: center;
}

form > div.conteiner2 > div {
  padding: 5px;
  margin: 10px;
  max-width: 400px;
}
p {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(94, 166, 94);
  font-size: 18px;
}
