* {
  font-family: "Coustard", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(44, 97, 119);
  line-height: 1.5;
  font-size: 25px;
}

h1 {
  padding: 10px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: rgb(175, 203, 175);
  text-shadow: 4px 6px 2px rgb(21, 22, 22);
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration-line: underline;
}

main > section.container > div {
  font-size: 18px;
  color: rgb(159, 190, 159);
  text-shadow: 2px 2px 4px rgb(39, 43, 41);
  display: grid;
  justify-items: center;
  text-align: center;
  margin: auto;
}

form {
  border: 6px solid rgb(228, 235, 228);
  border-radius: 10px;
  margin: auto;
  margin: 80px;
}

div.container1 > div > label {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: rgb(217, 229, 217);
  text-shadow: 0px 2px 0.5px rgb(29, 32, 31);
  text-decoration-line: underline;
}

form > div.container1 {
  display: flex;
  justify-content: center;

  text-align: center;
}

form > div.container1 > div {
  padding: 10px;
  line-height: 3;
}

div.container1 > div > input {
  border-radius: 5px;
  box-shadow: 0px 2px 2px;
  padding: 5px;
  text-align: center;
  max-width: 260px;
  color: white;
  background-color: #0066cc;
  font-size: 18px;
}

form > div.conteiner2 {
  font-size: 20px;
  border: 5px dashed rgb(225, 236, 225);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 100px;
  border-radius: 10px;
  margin: auto;
  margin: 100px;
}

label {
  color: aliceblue;
  font-size: 18px;
  padding: 5px;
  text-shadow: 6px 8px 4px rgb(11, 9, 9);
}
select {
  font-size: 18px;
  color: aliceblue;
  padding: 5px;
  margin-top: 10px;
}
select > option {
  background-color: aliceblue;
  font-size: 20px;
  color: black;
}

form > div.conteiner2 > div {
  margin: 25px;
}

h3 > u {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  color: rgb(210, 227, 210);
  text-shadow: 2px 2px 8px rgb(64, 66, 65);
  font-size: 40px;
  display: grid;
  justify-content: center;
}

p {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(94, 166, 94);
  text-shadow: 2px 2px 8px rgb(64, 66, 65);
  font-size: 18px;
  margin: 0;
}

label.textArea {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(94, 166, 94);
  text-shadow: 2px 2px 8px rgb(64, 66, 65);
  font-size: 18px;
}

textarea {
  margin-top: 25px;
}

div > label.text {
  font-size: 16px;
  text-shadow: 2px 6px 8px rgb(38, 91, 65);
}

img {
  width: 40px;
  margin-right: 10px;
  font-size: 8px;
}

.button {
  padding: 40px;
  display: flex;
  justify-content: center;
}

button {
  padding: 20px;
  width: 200px;
  max-width: 90%;
  border-radius: 10px;
  background-color: rgb(48, 106, 48);
  box-shadow: 2px 6px 8px rgb(16, 42, 33);
  color: rgb(217, 225, 217);
  font-weight: 600;
  text-decoration-line: underline;
}

.radio-option,
.radio-option-content {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#textarea {
  color: aliceblue;
  font-size: 18px;
}

footer > div.contact {
  display: flex;
  flex-direction: column;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  color: aliceblue;
  text-shadow: 2px 8px 16px rgb(13, 20, 17);
  font-size: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.icons img:nth-child(1) {
  display: none;
}
.icons:hover img:nth-child(2) {
  display: none;
}

.icons:hover img:nth-child(1) {
  display: flex;
  text-align: center;
}

.contact > a > img {
  width: 70px;
}
@media screen and (max-width: 1600px) {
  div.container1 > div > label {
    font-size: 22px;
  }
}

@media screen and (max-width: 1300px) {
  form > div.container1 {
    font-size: 18px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 600px;
  }
  form > div.container1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.container1 > div > label {
    display: flex;
    text-align: center;
  }

  div.container1 > div > input {
    display: flex;
    color: white;
    background-color: #0066cc;
    font-size: 20px;
  }

  form > div.conteiner2 {
    font-size: 20px;
    border: 5px dashed rgb(237, 244, 237);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin: 30px;
    border-radius: 10px;
  }

  .radio-option,
  .radio-option-content {
    justify-content: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 930px) {
  form {
    border: none;
  }

  form > div.container1 > div {
    align-items: center;
  }

  div.container1 > div > input {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .radio-option,
  .radio-option-content {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  form > div.container1 > div {
    align-items: flex-start;
  }
  div.container1 > div > label {
    text-align: center;
  }
  form > div.conteiner2 {
    border: none;
    margin: 0;
  }
  h3 {
    text-align: center;
  }
}
